<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <!-- ========== JSF ========== -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!-- ========== Local ========== -->
        <!--<param-value>Development</param-value>-->
        <!-- ========== CloudBees ========== -->
        <param-value>Production</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <!-- ========== Application ========== -->
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- ========== Restrict Access to template and .xhtml files ========== -->
    <security-constraint>
        <display-name>Restrict XHTML Documents</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
            <url-pattern>/faces/authenticated.jsf</url-pattern>
            <url-pattern>/faces/manager/manager.jsf</url-pattern>
            <url-pattern>/faces/employee/employee.jsf</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <!-- ========== CloudBees ========== -->
    <resource-ref>
        <res-ref-name>jdbc/rmt-supinfodb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
